@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Prompt", serif;
    background-color: black;
    color: white;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: opacity 0.5s ease-in-out;
}

.half {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.8s ease-in-out;
}

.half img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease-in-out;
}

.half.expanded {
    position: absolute;
    width: 100%;
}

.half.left.expanded {
    left: 0;
}

.half.right.expanded {
    right: 0;
}

.half.hidden {
    display: none;
}

.half img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    transition: filter 0.5s ease;
}

.half:hover img {
    filter: brightness(0.9);
}

.half a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.half .text {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: white;
    text-align: center;
    filter: brightness(0.7);
    transition: filter 0.5s ease;
}

.half:hover>.text {
    filter: brightness(1);
}

.title {
    font-family: "Cinzel", serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 500;
    color: white;
    z-index: 3;
    cursor: pointer;
}