body {
    margin-top: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

/* profile */
#about {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 10%;
    background: #222222;
}

.profile-item img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
    margin-right: 50px;
}

.profile-item {
    display: flex;
    align-items: center;
}

.profile-describe {
    display: flex;
    align-items: center;  
    gap: 20px;
    text-align: left;
}

.profile-describe h1 {
    font-size: 3.5rem;
    color: white;
}

.profile-describe p {
    font-size: 2.0rem;
    color: white;
}

h2 {
    font-size: 2.5rem;
    color: black;
    text-align: center; 
    margin-top: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column; 
        align-items: center; 
        padding: 40px 5%; 
    }

    .profile-item img {
        width: 200px;
        height: 200px;
        margin-right: 0; 
        margin-bottom: 20px; 
    }

    .profile-describe {
        flex-direction: column;
        text-align: center; 
    }
}

/* showcase */
#showcase {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

#showcase>h2 {
    margin-top: 5rem;
}

.showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.showcase-item {
    background: white; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px; 
    width: fit-content; 
    margin: auto; 
}

.showcase-item img {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    border-radius: 10px;
}

.showcase-item p {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.showcase-item h3 {
    margin-top: 5px;
    font-size: 15px;
    font-weight: lighter;
}

@media (max-width: 768px) {
    .showcase-container {
        grid-template-columns: 1fr;  
    }
    .profile-describe {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .showcase-container {
        grid-template-columns: 1fr; 
    }
    .profile-describe {
        grid-template-columns: 1fr;
    }
    .showcase-item img {
        max-width: 100%;  
    }
}

/* contact */
#contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.contact-links {
    text-align: center;
    margin-top: 20px;
}

.contact-links a {
    display: block;
    background-color: black; 
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0; 
}

.contact-links a:hover {
    background-color: green;
}