body {
    font-family: "Prompt", serif;
}

#about {
    background-color: #d3cabf;
}

.box-profile {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.box-profile .text .line {
    width: 100px;
    height: 3px;
    background-color: #222222;
}

.box-profile .text h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 20px;
}

.box-profile .text p {
    width: 90%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
}

.box-profile>img {
    width: 35%;
    height: auto;
    border-radius: 20px;
    border: 10px solid black;
}

#project {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project .text,
#contact .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#project .text h1,
#contact .text h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 36px;
}

#project .text p,
#contact .text p {
    width: 30rem;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 200;
}

.card-container {
    width: 100%;
    height: 25rem;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.card-container .card {
    width: 18rem;
    padding: 30px;
    background-color: black;
    color: white;
}

.card h1 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.card p {
    font-size: 12px;
    font-weight: 200;
    margin-top: 6px;
}

.box-img {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact {
    padding-top: 4rem;
    height: 80vh;
}