body {
    font-family: "Prompt", serif;
}

/* Section Home */
#home {
    background-color: #222222;
    color: white;
    height: 100vh;
    padding: 0 5rem;
}

.box-profile {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-profile>img {
    position: absolute;
    width: 36rem;
    height: 38rem;
    bottom: -9%;
    left: 25%;
    z-index: 1;
}

.title,
.details {
    position: relative;
    z-index: 2;
    max-width: 350px;
}

.title {
    margin-top: 50px;
}

.title .line {
    width: 100px;
    height: 3px;
    background-color: white;
    margin-bottom: 40px;
}

.title>h1 {
    font-weight: 500;
    font-size: 46px;
    margin-top: -15px;
    width: 400px;
}

.title>h1>span {
    color: #e6c744;
}

.title>p {
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
    color: rgb(204, 204, 204);
}

.title .arrow-btn {
    background: #a05b3c;
    width: 35px;
    height: 35px;
    padding: 8px;
    margin-top: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title .arrow-btn img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
    width: 300px;
}

.details h4 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.details p {
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0;
    color: rgb(204, 204, 204);
}

.details a {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-underline-offset: 6px;
}

.details .social .icon-social {
    display: flex;
    gap: 10px;
}

.details .social .icon-social a img {
    width: 26px;
    margin-top: 10px;
}

/* Section Exp */
#exp {
    padding: 0 5rem;
    height: 150px;
}

.box-exp {
    width: 100%;
    height: 80px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.box-exp h2 {
    color: #dab71d;
    font-size: 32px;
    font-weight: 600;
}

.box-exp p {
    font-size: 18px;
}

/* Section About */
#about {
    padding: 0 5rem;
    height: 80vh;
}

.box-about {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box-about>img {
    width: 34rem;
    height: 30rem;
}

.box-about .text {
    margin-top: 100px;
}

.box-about .text .detail h4 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.box-about .text .detail h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #dab71d;
}

.box-about .text .detail p {
    font-size: 14px;
    font-weight: 300;
}

.box-about .text .contact {
    margin-top: 35px;
}

.box-about .text .contact>div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.box-about .text .contact>div img {
    width: 25px;
    height: 25px;
}

/* Section Project */
#project {
    padding: 0 5rem;
    height: 100vh;
    margin-bottom: 50px;
}

.box-project {
    width: 100%;
}

.box-project>h1 {
    margin-top: 6rem;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.box-project .card-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.box-project .card-container .card {
    color: black;
    padding: 20px;
    border: 1.5px solid #222222;
}

.card-container .card:hover {
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #222222;
    color: white;
}

.card-container .card img {
    width: 13.5rem;
}

.card-container .card>h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.card-container .card>p {
    font-size: 10px;
    font-weight: 300;
}

/* Footer */
.footer {
    background-color: #222222;
    color: white;
    padding: 1rem 5rem;
    font-family: monospace;
    font-size: 14px;
    text-align: right;
    font-style: italic;
}

@media (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    #home .box-profile>img {
        width: 50rem;
        height: 56rem;
        bottom: -6%;
        left: 5%;
    }

    #home .box-profile .details {
        margin-top: -40rem;
    }

    #home .box-profile .title {
        margin-top: -36rem;
    }

    .title>h1 {
        font-size: 3rem;
    }

    #about {
        height: 40vh;
    }

    #project .box-project .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
    }

    .card-container .card>img {
        width: 100%;
    }
}

@media (max-width: 430px) {
    body {
        overflow-x: hidden;
    }

    /* Section Home */
    #home .box-profile>img {
        width: 30rem;
        height: 34rem;
        left: -40%;
        bottom: -5%;
    }

    #home .box-profile .title {
        margin-top: -20rem;
        width: 300px;
    }

    #home .box-profile .details {
        display: none;
    }

    .title>h1 {
        font-size: 40px;
    }

    .title .arrow-btn {
        display: none;
    }

    /* Section Exp */
    #exp {
        height: 300px;
    }

    #exp .box-exp {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        text-align: center;
    }

    #exp .box-exp>hr {
        display: none;
    }

    /* Section About */
    #about {
        height: 500px;
    }

    #about .box-about>img {
        display: none;
    }

    /* Section Project */
    #project {
        height: auto;
    }

    #project .box-project .card-container {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
}