<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/component/navbar.css">
</head>

<body>
    <nav>
        <div class="nav-icon">
            <a href="../index.html">PROFILE</a>
        </div>
        <div class="nav-menu">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#project">Project</a>
        </div>
    </nav>
</body>

</html>